@using LapTrinhEZ.Models.Entites;
@model List<LT_GetNewsFeatherResult>
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    string slug = "";
    List<LT_GetNewsRelateResult> lstNewsRelate = ViewBag.NewsRelate;
    List<LT_GetNewsMMOResult> lstNewsMMO = ViewBag.NewsMMO;
    List<LT_GetNewsViewsResult> lstNewsViews = ViewBag.NewsViews;
    LT_GetNewsFeatherResult featherNews;
    featherNews = Model.FirstOrDefault();

    if (featherNews != null)
    {
        slug = ViewBag.HostName + "/News/" + featherNews.NewsId + "/" + featherNews.Slug;
    }
    Model.Remove(featherNews);
}
<!-- ##### Featured Post Area Start ##### -->
<div class="featured-post-area">
    <div class="container">
        <div class="row">
            <div class="col-12 col-md-6 col-lg-8">
                <div class="row">

                    <!-- Single Featured Post -->
                    <div class="col-12 col-lg-7">
                        <div class="single-blog-post featured-post">
                            <div class="post-thumb">
                                <a href="@slug"><img src="@featherNews.FeatherImage" alt=""></a>
                            </div>
                            <div class="post-data">
                                <a href="@featherNews.CategorySlug" class="post-catagory">@featherNews.Category</a>
                                <a href="@slug" class="post-title">
                                    <h6>@featherNews.Title</h6>
                                </a>
                                <div class="post-meta">
                                    <p class="post-author">By <a href="#">@featherNews.Author</a></p>
                                    <p class="post-excerp">@Html.Raw(featherNews.Description) </p>
                                    <!-- Post Like & Post Comment -->
                                    <div class="d-flex align-items-center">
                                        <a href="#" class="post-like"><img src="/img/core-img/like.png" alt=""> <span>@featherNews.Like</span></a>
                                        <a href="#" class="post-comment"><img src="/img/core-img/chat.png" alt=""> <span>@featherNews.DisLike</span></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-12 col-lg-5">
                        <!-- Single Featured Post -->
                        @foreach (LT_GetNewsFeatherResult f in Model)
                        {
                            slug = ViewBag.HostName + "/News/" + f.NewsId + "/" + f.Slug;
                            <div class="single-blog-post featured-post-2">
                                <div class="post-thumb">
                                    <a href="@slug"><img src="/img/bg-img/17.jpg" alt=""></a>
                                </div>
                                <div class="post-data">
                                    <a href="#" class="post-catagory">@f.Category</a>
                                    <div class="post-meta">
                                        <a href="@slug" class="post-title">
                                            <h6>@f.Title</h6>
                                        </a>
                                        <!-- Post Like & Post Comment -->
                                        <div class="d-flex align-items-center">
                                            <a href="#" class="post-like"><img src="/img/core-img/like.png" alt=""> <span>@f.Like</span></a>
                                            <a href="#" class="post-comment"><img src="/img/core-img/chat.png" alt=""> <span>@f.Like</span></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        }
                    </div>
                </div>
            </div>

            <div class="col-12 col-md-6 col-lg-4">
                @foreach (LT_GetNewsRelateResult newsRelate in lstNewsRelate)
                {
                    string time = (@newsRelate.CreateOn.Hour.ToString().Length == 1 ? 0 + @newsRelate.CreateOn.Hour.ToString() : @newsRelate.CreateOn.Hour.ToString()) + ":" + (@newsRelate.CreateOn.Minute.ToString().Length == 1 ? 0 + @newsRelate.CreateOn.Minute.ToString() : @newsRelate.CreateOn.Minute.ToString());
                    string date = (@newsRelate.CreateOn.Day.ToString().Length == 1 ? 0 + @newsRelate.CreateOn.Day.ToString() : @newsRelate.CreateOn.Day.ToString()) + "-" + (@newsRelate.CreateOn.Month.ToString().Length == 1 ? 0 + @newsRelate.CreateOn.Month.ToString() : @newsRelate.CreateOn.Month.ToString()) + "-" + @newsRelate.CreateOn.Year.ToString();
                    slug = ViewBag.HostName + "/News/" + newsRelate.NewsId + "/" + newsRelate.Slug;
                    <!-- Single Featured Post -->
                    <div class="single-blog-post small-featured-post d-flex">
                        <div class="post-thumb">
                            <a href="@slug"><img src="@newsRelate.FeatherImage" alt=""></a>
                        </div>
                        <div class="post-data">
                            <a href="#" class="post-catagory">@newsRelate.Category</a>
                            <div class="post-meta">
                                <a href="@slug" class="post-title">
                                    <h6>@newsRelate.Title</h6>
                                </a>
                                <p class="post-date"><span></span> @time | <span>@date</span></p>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</div>
<!-- ##### Featured Post Area End ##### -->
<!-- ##### Popular News Area Start ##### -->
<div class="popular-news-area section-padding-80-50">
    <div class="container">
        <div class="row">
            <div class="col-12 col-lg-8">
                <div class="section-heading">
                    <h6>Kiếm tiền online vốn 0 đồng</h6>
                </div>

                <div class="row">
                    @foreach (LT_GetNewsMMOResult newsMMO in lstNewsMMO)
                    {
                        slug = ViewBag.HostName + "/News/" + newsMMO.NewsId + "/" + newsMMO.Slug;
                        <!-- Single Post -->
                        <div class="col-12 col-md-6">
                            <div class="single-blog-post style-3">
                                <div class="post-thumb">
                                    <a href="@slug"><img src="@newsMMO.FeatherImage" alt=""></a>
                                </div>
                                <div class="post-data">
                                    <a href="#" class="post-catagory">@newsMMO.Category</a>
                                    <a href="@slug" class="post-title">
                                        <h6>@newsMMO.Title</h6>
                                    </a>
                                    <div class="post-meta d-flex align-items-center">
                                        <a href="#" class="post-like"><img src="/img/core-img/like.png" alt=""> <span>@newsMMO.Like</span></a>
                                        <a href="#" class="post-comment"><img src="/img/core-img/chat.png" alt=""> <span>@newsMMO.DisLike</span></a>
                                    </div>
                                </div>
                            </div>
                        </div>

                    }
                </div>
            </div>

            <div class="col-12 col-lg-4">
                <div class="section-heading">
                    <h6>Thông Tin</h6>
                </div>
                <!-- Popular News Widget -->
                <div class="popular-news-widget mb-30">
                    <h3>TOP 4 tin xem nhiều nhất</h3>
                    @{
                        int i = 0;
                        foreach (LT_GetNewsViewsResult item in lstNewsViews)
                        {
                            slug = ViewBag.HostName + "/News/" + item.NewsId + "/" + item.Slug;
                            i++;
                            <!-- Single Popular Blog -->
                            <div class="single-popular-post">
                                <a href="@slug">
                                    <h6><span>@i</span>@item.Title</h6>
                                </a>
                                <p>@item.CreateOn</p>
                            </div>
                        }
                    }


                    <!-- Newsletter Widget -->
                    <div class="newsletter-widget">
                        <h4>Đăng ký nhận tin</h4>
                        <p>Nhận tin tức mới nhất từ Website.</p>
                        <form action="#" method="post">
                            <input type="text" name="text" placeholder="Name">
                            <input type="email" name="email" placeholder="Email">
                            <button type="submit" class="btn w-100">Subscribe</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- ##### Popular News Area End ##### -->
    <!-- ##### Video Post Area Start ##### -->
    <div class="video-post-area bg-img bg-overlay" style="background-image: url(img/bg-img/bg1.jpg);">
        <div class="container">
            <div class="row justify-content-center">
                <!-- Single Video Post -->
                <div class="col-12 col-sm-6 col-md-4">
                    <div class="single-video-post">
                        <img src="/img/bg-img/video1.jpg" alt="">
                        <!-- Video Button -->
                        <div class="videobtn">
                            <a href="https://www.youtube.com/watch?v=5BQr-j3BBzU" class="videoPlayer"><i class="fa fa-play" aria-hidden="true"></i></a>
                        </div>
                    </div>
                </div>

                <!-- Single Video Post -->
                <div class="col-12 col-sm-6 col-md-4">
                    <div class="single-video-post">
                        <img src="/img/bg-img/video2.jpg" alt="">
                        <!-- Video Button -->
                        <div class="videobtn">
                            <a href="https://www.youtube.com/watch?v=5BQr-j3BBzU" class="videoPlayer"><i class="fa fa-play" aria-hidden="true"></i></a>
                        </div>
                    </div>
                </div>

                <!-- Single Video Post -->
                <div class="col-12 col-sm-6 col-md-4">
                    <div class="single-video-post">
                        <img src="/img/bg-img/video3.jpg" alt="">
                        <!-- Video Button -->
                        <div class="videobtn">
                            <a href="https://www.youtube.com/watch?v=5BQr-j3BBzU" class="videoPlayer"><i class="fa fa-play" aria-hidden="true"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- ##### Video Post Area End ##### -->
</div>